body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #000;
}

nav .max-w-screen-xl {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

nav a {
    text-decoration: none;
}

nav a span {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

nav .button {
    background-color: #333;
}

nav .button:hover {
    background-color: #575757;
}

nav .flex {
    display: flex;
    align-items: center;
}

.hidden {
    display: none;
}

nav .inline-flex {
    display: inline-flex;
}

nav .justify-center {
    justify-content: center;
}

nav .px-3 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

nav .rounded-lg {
    border-radius: 0.5rem;
}

nav .space-x-8 > :not(template) ~ :not(template) {
    margin-left: 2rem;
}

nav .font-medium {
    font-weight: 500;
}

nav .text-white {
    color: #fff;
}

nav .hover\:bg-gray-100:hover {
    background-color: #f5f5f5;
}

nav .hover\:text-yellow-300:hover {
    color: #ffd700;
}

nav .block {
    display: block;
}

nav .md\:hidden {
    display: none;
}

nav .md\:block {
    display: block;
}

nav .dark\:text-white {
    color: #fff;
}

nav .dark\:hover\:text-blue-500:hover {
    color: #3b82f6;
}

nav .dark\:hover\:bg-gray-700:hover {
    background-color: #374151;
}

nav .dark\:hover\:text-white:hover {
    color: #fff;
}

nav .dark\:hover\:bg-transparent:hover {
    background-color: transparent;
}

nav .bg-black {
    background-color: #000;
}

.active-link {
    border-bottom: 2px solid yellow;
}

.profile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #575757;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media (max-width: 1150px) {
    .md\:hidden {
        display: inline-flex !important;
    }

    .md\:block {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .dropdown-content {
        right: auto;
        left: 0;
        min-width: 100px;
    }

    .profile {
        width: 25px;
        height: 25px;
    }
}