body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8c705;
    text-align: justify;
    padding: 20px;
    height: 100vh;
}

.banner-pic {
    max-width: 50%;
    height: auto;
    margin: 20px;
    border-radius: 20px;
}

.para {
    max-width: 600px;
}

.para h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #333;
}

.para p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #333;
}

.social {
    display: flex;
    gap: 15px;
}

.social a {
    font-size: 2rem;
    color: #333;
    transition: color 0.3s;
}

.social a:hover {
    color: #000;
}


.slot-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.slot {
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(37, 39, 59, 0.3);
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.slot p {
    text-align: center;
}

.icon {
    margin-top: 10px;
    width: 100px;
    margin-bottom: 10px;
}

.btn2 {
    width: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #182431; 
    text-decoration: none;
    padding: 5px 15px;
    border: 1px solid #007BFF; 
    border-radius: 88px; 
    background-color: #f0f8ff; 
    transition: background-color 0.3s, color 0.3s;
}

.btn2:hover {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal::-webkit-scrollbar {
    display: none;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal form {
    display: flex;
    flex-direction: column;
}

.modal form label {
    margin-top: 10px;
}

.modal form input[type="text"],
.modal form input[type="date"],
.modal form input[type="time"] {
    padding: 5px;
    margin-top: 5px;
}

.modal form input[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    background-color: #dcad03;
    color: white;
    border: none;
    cursor: pointer;
}

.modal form input[type="submit"]:hover {
    background-color: #af8903;
}



table {
    background: #ffffff;
    width: 100%;
    border-collapse: collapse;
    border: #cacace;
}

.table-container-1 {
    width: 400px;
}

.table-container-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 32px auto;
}

.table-container-3 .table {
    width: 100%;
    max-width: 800px;
}

th, td {
    border: 0px solid #dddddd;
    text-align: left;
    padding: 15px;
}

tr:nth-child(even) {
    background-color: #c9c9c9;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}


/* Responsive Design */
@media (max-width: 768px) {
    .banner {
        height: 130vh;
        flex-direction: column;
        text-align: justify;
        
    }

    .banner-pic {
        max-width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .para h1 {
        font-size: 2rem;
    }

    .para p {
        font-size: 1rem;
    }

    .social a {
        font-size: 1.5rem;
    }
}
