/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  font-family: "Poppins", sans-serif;
}

section {
  padding: 50px 10%;
}

.body::-webkit-scrollbar {
  display: none;
}

table {
  background: #ffffff;
  width: 100%;
  border-collapse: collapse;
  border: #cacace;
 
}
.table-container-1{
  width: 400px;
 
}
.table-container-2 {
  width: 100%;
  margin: 32px;

}

th, td {
  border: 0px solid #dddddd;
  text-align: left;
  padding: 15px;
  
}


/* Home page */

.home {
  display: flex;
  background: #f8c705;
  text-align: justify;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}

.para {
  max-width: 600px;
}

.para h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #333;
}

.para p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.home-pic {
  width: 800px;
  height: auto;
}

.social a {
  margin-bottom: 1rem;
  font-size: 30px;
  transition: 0.3s;

}
.social a:hover {
  color: white;
}

.login-button {
  position: absolute;
  top: 75px;
  right: 20px;
  padding: 10px 20px;
  border: none;
  color: #333333;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.login-button:hover {
  background-color: white;
}

/* END Home Page */

/* Menu page  */
.menu {
  display: flex;
  background: #f8c705;
  text-align: justify;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}

.menu .para {
  padding-left: 20px;
}

.menu h1 {
  font-size: 5rem;
}

.orderBtn {
  width: 90px;
  color: white; 
  text-decoration: none; /* Remove underline */
  font-weight: bold; 
  padding: 5px 10px; 
  border: 1px solid #e4282e; 
  border-radius: 88px; 
  background-color: #ee0c0c; 
  transition: background-color 0.3s, color 0.3s;
}

.orderBtn:hover {
  background-color: white;
  color: #182431;
  cursor: pointer;
}



* {
  margin: 0;
  padding: 0;
  
  
}
.food-list-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
 
}

.food-title {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  justify-content: center;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-list .card {
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(37, 39, 59, 0.3);
  width: 300px;
}

.card .card-header {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;

  background-color: #007BFF;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.card-body {
  padding: 20px;
}

.label {
  font-weight: bold;
  margin-right: 10px;
}

.card .card_footer {
  
  color: #fff;
  padding: 10px;
  text-align: center;
}

.btn1 {
  width: 100px;
  color: #182431; 
  text-decoration: none; /* Remove underline */
  font-weight: bold;
  padding: 5px 15px;
  border: 1px solid #007BFF; 
  border-radius: 88px; 
  background-color: #f0f8ff; 
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.btn1:hover {
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}

.items {
  /* background-color: #182431; */
}






.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.alert-success {
  background-color: #4CAF50;
}

.alert-danger {
  background-color: #f44336;
}

.alert i {
  margin-right: 10px;

}

.container {
  position: relative;
}

.message-container {
  position: absolute;
  width: 100%;
  top: -75px;
  margin-left: 10px;
  left: 0;
  z-index: 1000;
}

@media screen and (min-width: 1200px) {
  .assignment-schedule-container{
   width: calc(100% - 300px);
   margin: 100px auto auto 300px; 
   overflow: hidden;
   max-width: none;
  }
}

@media screen and (max-width: 1199px) {

  .assignment-schedule-container{
      width: 100%;
      justify-content: center;
      margin-top: 5rem;

  .login-button {

  }
      
  }
}



























@media (max-width: 1299px) {
  .home {
    display: inline-block;
    padding: 30px;
  }

  .home-pic {
    width: 800px;
    height: auto;
  }

  .para h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
  }

  .social {
    text-align: center;
  }

  .menu {
    display: inline-block;
    padding: 30px;
  }

  .menu h1 {
    margin-top: 3rem;
    font-size: 3rem;
  }

  .btn {
    justify-content: center;
    align-items: center;
  }
}

/* Add these styles to your CSS file */

nav ul li a {
  position: relative;
  display: inline-block;
  padding: 10px 0;
  text-decoration: none;
  color: #ffffff;
}

nav ul li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #f8c705; /* Yellow line color */
  transition: width 0.4s ease, right 0.4s ease;
}

nav ul li a:hover::after {
  width: 100%;
  right: 0;
}

nav ul li a.active::after {
  width: 100%;
  right: 0;
}
