@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.login-container {
    background: #fff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.login-container h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.login-container img {
    max-width: 50%;
    height: auto;
    margin-bottom: 1rem;
}

.login-container .form-control {
    border-radius: 25px;
}

.login-container button {
    width: 100%;
    border-radius: 25px;
    background-color: #3333ff;
    border-color: #3333ff;
    color: #fff;
}

.login-container button:hover {
    background-color: #1a1aff;
    border-color: #1a1aff;
}