body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.menu {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8c705;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.items h1 {
  font-size: 3rem;
}

.para {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.form-container {
    padding: 20px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.form-group {
    flex: 1;
    min-width: 200px;
    margin-right: 20px;
}

.form-group:last-child {
    margin-right: 0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="text"]:focus, select:focus {
    border-color: #ffc800;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 204, 0, 0.5);
}

button.batch.view-link {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button.batch.view-link:hover {
    background-color: #0056b3;
}

.items {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.food-list-container {
    margin-bottom: 40px;
}

.food-title {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    font-size: 18px;
}

.card-body {
    padding: 15px;
    text-align: center;
}

.food-img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.label {
    font-weight: bold;
    color: #333;
}

.btns {
    margin-top: 20px;
}

.btn2 {
    width: 100px;
    margin-bottom: 20px;
    color: #182431; 
    text-decoration: none;
    font-weight: bold;
    padding: 5px 15px;
    border: 1px solid #007BFF; 
    border-radius: 88px; 
    background-color: #f0f8ff; 
    transition: background-color 0.3s, color 0.3s;
}

.btn2:hover {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.btn3 {
    width: 100px;
    color: #182431;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #e4282e;
    border-radius: 88px;
    background-color: #fff1f4;
    transition: background-color 0.3s, color 0.3s;
}

.btn3:hover {
    background-color: #ee0c0c;
    color: white;
    cursor: pointer;
}

.message-container {
    position: fixed;
    width: 100%;
    top: 60px;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 650px){
 
    .modal {
      margin-left: 0px;
    }
    .form-row {
      flex-direction: column;
  }
  
  .form-group {
      margin-right: 0;
      margin-bottom: 15px;
  }
  
  .form-group:last-child {
      margin-bottom: 0;
  }
  .search-bar {
      display: flex;
      flex-direction: column;
      gap: 10px;
  }
  }
