.staff {
    text-align: center;
}

.staff h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: #333;
}

.btns {
    display: flex;
    gap: 20px;
}

@media (max-width: 650px) {
    .para {
        margin-top: 100px;
    }
}